<template>
  <div class="text-xs-center">
    <v-dialog v-model="popup" width="500">
      <template >
        <v-btn class="success" slot="activator">Buy</v-btn>
      </template>

      <v-card>
        <v-layout>
          <v-flex xs12>
            <v-toolbar dark color="indigo">
              <v-toolbar-title>Купить данный товар?</v-toolbar-title>
            </v-toolbar>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs12>
            <v-card-text>
              <v-text-field
                name="name"
                label="Your name"
                type="text"
                v-model="name"
              ></v-text-field>
              <v-text-field
                name="phone"
                label="Phone"
                type="tel"
                v-model="phone"
              ></v-text-field>
            </v-card-text>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <v-layout ut>
          <v-flex xs12>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                flat
                @click="closePopUp"
                :disabled='localLoading'
              >
                Close
              </v-btn>
              <v-btn
                flat
                @click="saveEdit"
                class="success"
                :disabled='localLoading'
                :loading="localLoading"
              >
                Buy it!
              </v-btn>
            </v-card-actions>
          </v-flex>
        </v-layout>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: ['ad'],
  data () {
    return {
      popup: false,
      name: '',
      phone: '',
      localLoading: false
    }
  },
  methods: {
    closePopUp () {
      this.popup = false
      this.name = ''
      this.phone = ''
    },
    saveEdit () {
      if (this.name !== '' && this.phone !== '') {
        this.localLoading = true
        this.$store.dispatch('createOrder', {
          name: this.name,
          phone: this.phone,
          adId: this.ad.slug,
          ownerId: this.ad.ownerId
        })
        .finally(() => {
          this.name = ''
          this.phone = ''
          this.localLoading = false
          this.popup = false
        })
      } else {
        this.$store.commit('setError', 'Введите имя и номер телефона')
      }
    }
  }
  // watch: {
  //   popup (val) {
  //     if (val === false) {
  //       this.editTitle = this.ad.title
  //       this.editDescription = this.ad.description
  //     }
  //   }
  // }
}
</script>

<style>
</style>
