<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card v-if="!loading">
          <v-card-media
          :src="ad.imageSrc"
          height="300px"
          ></v-card-media>
          <v-card-text>
            <h1 class="text-primary">{{ad.title}}</h1>
            <p>{{ad.description}}</p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <AdEditPopap :ad='ad' v-if="isOwner"/>
            <app-buy-popup :ad='ad'></app-buy-popup>
          </v-card-actions>
        </v-card>
        <div v-else>
          <v-container style="height: calc(100vh - 100px); display: flex">
            <v-layout row style="align-items: center;">
              <v-flex xs12 class="text-xs-center">
                <v-progress-circular
                  :size="100"
                  :width="4"
                  color="purple"
                  indeterminate
                ></v-progress-circular>
              </v-flex>
            </v-layout>
          </v-container>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import AdEditPopap from './AdEditPopap'
export default {
  props: ['slug'],
  computed: {
    ad () {
      const slug = this.slug
      return this.$store.getters.adBySlug(slug)
    },
    loading () {
      return this.$store.getters.loading
    },
    isOwner () {
      return this.ad.ownerId === this.$store.getters.user.id
    }
  },
  mounted () {
    console.log(this.isOwner)
  },
  components: {
    AdEditPopap
  }
}
</script>
