<template>
  <div class="text-xs-center">
    <v-dialog v-model="popup" width="500">
      <template >
        <v-btn class="warning" slot="activator" flat>Edit</v-btn>
      </template>

      <v-card>
        <v-layout>
          <v-flex xs12>
            <v-toolbar dark color="indigo">
              <v-toolbar-title>Edit ad</v-toolbar-title>
            </v-toolbar>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs12>
            <v-card-text>
              <v-text-field
                name="title"
                label="Title"
                type="text"
                v-model="editTitle"
              ></v-text-field>
              <v-text-field
                name="description"
                label="Description"
                type="text"
                multi-line
                v-model="editDescription"
              ></v-text-field>
            </v-card-text>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <v-layout ut>
          <v-flex xs12>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn flat @click="closePopUp">Cancel</v-btn>
              <v-btn flat @click="saveEdit" class="success">Save</v-btn>
            </v-card-actions>
          </v-flex>
        </v-layout>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: ['ad'],
  data () {
    return {
      popup: false,
      editTitle: this.ad.title,
      editDescription: this.ad.description
    }
  },
  methods: {
    closePopUp () {
      this.popup = false
      this.editTitle = this.ad.title
      this.editDescription = this.ad.description
    },
    saveEdit () {
      if (this.editTitle !== '' && this.editDescription !== '') {
        this.$store.dispatch('updateAd', {
          title: this.editTitle,
          description: this.editDescription,
          id: this.ad.slug
        })
        this.popup = false
      } else {
        this.$store.commit('setError', 'Поля title и description не должны быть пустыми')
      }
    }
  }
  // watch: {
  //   popup (val) {
  //     if (val === false) {
  //       this.editTitle = this.ad.title
  //       this.editDescription = this.ad.description
  //     }
  //   }
  // }
}
</script>

<style>
</style>
