<template>
  <v-container>
    <v-layout row v-if="!loading">
      <v-flex xs12 sm6 offset-sm3 >
        <h1 class="text--secondary mb-3">My ads</h1>
        <v-card class="elevation-7 mb-3" v-for="ad in myAds" :key="ad.id">
          <v-layout>
            <v-flex xs4>
              <v-card-media
              :src="ad.imageSrc"
              height="160px"
              >
              </v-card-media>
            </v-flex>
            <v-flex xs8>
              <v-card-text>
                <h2 class="test--primary">
                  {{ad.title}}
                </h2>
                <p>
                  {{ad.description}}
                </p>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="info" :to="`/ad/${ad.slug}`">Open</v-btn>
              </v-card-actions>
            </v-flex>
          </v-layout>
        </v-card>
        <div v-if="myAds.length == 0">
          <h2>У вас пока что нет своих объявлений! хотите добавить?</h2>
          <br>
          <hr>
          <v-btn style="margin: 20px 0 0 0 " to="/new" class="success">Добавить Объявление</v-btn>
        </div>
      </v-flex>
    </v-layout>
    <div v-else>
      <v-container style="height: calc(100vh - 100px); display: flex">
        <v-layout row style="align-items: center;">
          <v-flex xs12 class="text-xs-center">
            <v-progress-circular
              :size="100"
              :width="4"
              color="purple"
              indeterminate
            ></v-progress-circular>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </v-container>
</template>

<script>
  export default {
    computed: {
      myAds () {
        return this.$store.getters.myAds
      },
      loading () {
        return this.$store.getters.loading
      }
    }
  }
</script>
