<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-md3>
        <h1 class="text--secondary mb-3">NewAd</h1>
        <v-form ref="form" v-model="valid" class="mb-3" lazy-validation>
          <v-text-field
            name="title"
            label="Ad Title"
            type="text"
            required
            :rules="[v => !!v || 'Title is required']"
            v-model.trim="form.title"
          ></v-text-field>
          <v-text-field
            name="description"
            label="Ad Description"
            type="text"
            multi-line
            :rules="[v => !!v || 'Description is required']"
            v-model.trim="form.description"
          ></v-text-field>
        </v-form>
        <v-layout row class="mb-3">
          <v-flex xs12>
            <v-btn class="warning " @click='triggerUpload'>
              Upload
              <v-icon right dark>cloud_upload</v-icon>
            </v-btn>
            <input
              type="file"
              name="imgage"
              style="display: none;"
              accept="image/*"
              ref="fileInput"
              @change="fileUpload"
            >
          </v-flex>
        </v-layout>
        <v-layout row  class="mb-3">
          <v-flex xs12 >
            <img :src="imageSrc" height="160" v-if="imageSrc">
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs12>
            <v-switch
              color="indigo darken-3"
              v-model="form.promo"
              label="Add to promo?"
            ></v-switch>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs12>
            <v-spacer></v-spacer>
            <v-btn
              :loading= 'loading'
              :disabled = 'loading'
              @click="createAd"
              class="success"
            >Add ads</v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>

  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        form: {
          title: '',
          description: '',
          promo: false,
          image: null
        },
        imageSrc: '',
        valid: false
      }
    },
    computed: {
      loading () {
        return this.$store.getters.loading
      }
    },
    methods: {
      createAd () {
        if (this.$refs.form.validate()) {
          if (this.form.title.length > 0 && this.form.description.length > 0) {
            if (this.form.image) {
              console.log(this.form)
              this.$store.dispatch('createAd', this.form)
                .then(() => {
                  this.$router.push('/')
                })
                .catch(() => {})
            } else {
              this.$store.dispatch('setError', 'Загрузите картинку')
            }
          } else {
            this.$store.dispatch('setError', 'Заполните форму')
          }
        } else {
          this.$store.dispatch('setError', 'Заполните форму')
        }
      },
      triggerUpload () {
        this.$refs.fileInput.click()
      },
      fileUpload (event) {
        console.log(event.target.files[0])
        const file = event.target.files[0]
        const reader = new FileReader()
        reader.onload = e => {
          console.log(reader.result)
          this.imageSrc = reader.result
        }
        reader.readAsDataURL(file)
        this.form.image = file
      }
    }
  }
</script>
