<template>
  <v-container>
    <v-layout row v-if="!loading">
      <v-flex xs12 sm6 offset-sm3>
        <v-list
          subheader
          two-line
        >
        <h1 class="text--secondary mb-3">Orders</h1>
          <v-list-tile
          v-for="order in orders"
          :key="order.id"
          >
            <v-list-tile-action>
              <v-checkbox
              color="indigo darken-3"
              :input-value='order.done'
              @change="markDone(order)"
              ></v-checkbox>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>{{order.name}}</v-list-tile-title>
              <v-list-tile-sub-title>{{order.phone}}</v-list-tile-sub-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-btn
              dark
              class="indigo darken-3"
              :to="`/ad/${order.adId}`"
              >Open</v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-flex>
    </v-layout>
    <div v-else>
      <v-container style="height: calc(100vh - 100px); display: flex">
        <v-layout row style="align-items: center;">
          <v-flex xs12 class="text-xs-center">
            <v-progress-circular
              :size="100"
              :width="4"
              color="purple"
              indeterminate
            ></v-progress-circular>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </v-container>
</template>

<script>
  export default {
    computed: {
      loading () {
        return this.$store.getters.loading
      },
      orders () {
        return this.$store.getters.orders
      }
    },
    methods: {
      markDone (order) {
        if (order.done === true) {
          alert('Заказ уже выполнен!')
          return
        }
        let conf = confirm('Заказ выполнен?')
        if (conf) {
          this.$store.dispatch('markOrderDone', order.id)
          .then(() => {
            order.done = true
          })
          .catch(() => {
            console.log('eeeeerrorrr')
          })
        }
      }
    },
    mounted () {
      this.$store.dispatch('fetchOrders')
    },
    created () {
      this.$store.dispatch('fetchOrders')
    }
  }
</script>
