<template>

  <div>
    <div v-if="!loading">
      <v-container fluid style="padding: 0">
        <v-layout row>
          <v-flex xs12>
            <v-carousel>
              <v-carousel-item
                v-for="ad in promoAds"
                :key="ad.id"
                :src="ad.imageSrc"
              >
              <div class="carous-link">
                <v-btn class="error" :to="'/ad/'+ ad.slug">{{ad.title}}</v-btn>
              </div>
              </v-carousel-item>
            </v-carousel>
          </v-flex>
        </v-layout>
      </v-container>
      <v-container grid-list-lg>
        <v-layout row wrap>
          <v-flex
          xs12
          sm6
          md4
          lg4
          xl3
          v-for="ad in ads"
          :key='ad.id'
          >
            <v-card >
              <v-card-media
                :src="ad.imageSrc"
                height="200px"
              ></v-card-media>

              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">{{ad.title}}</h3>
                  <div> {{ ad.description }} </div>
                </div>
              </v-card-title>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="primary" flat  :to="'/ad/'+ ad.slug">Open</v-btn>
                <app-buy-popup :ad="ad"></app-buy-popup>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
    <div v-else>
      <v-container style="height: calc(100vh - 100px); display: flex">
        <v-layout row style="align-items: center;">
          <v-flex xs12 class="text-xs-center">
            <v-progress-circular
              :size="100"
              :width="4"
              color="purple"
              indeterminate
            ></v-progress-circular>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    promoAds () {
      return this.$store.getters.promoAds
    },
    ads () {
      return this.$store.getters.ads
    },
    loading () {
      return this.$store.getters.loading
    }
  },
  watch: {
    ads (e) {
      console.log(e)
    }
  }
}
</script>

<style scoped>
.carous-link{
  position: absolute;
  bottom: 50px;
  padding: 5px 15px;
  background-color: rgba(0,0,0,0.5);
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 5px 5px 0 0;

}
</style>
