<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md6 xl4>
        <v-card class="elevation-12">
          <v-toolbar dark color="indigo darken-3">
            <v-toolbar-title>Login form</v-toolbar-title>
            <!-- <v-spacer></v-spacer> -->
          </v-toolbar>
          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field
                prepend-icon="person"
                name="email"
                label="Email"
                type="email"
                :rules="emailRules"
                v-model="form.email"
              ></v-text-field>
              <v-text-field
                prepend-icon="lock"
                name="password"
                label="Password"
                type="password"
                :counter ='6'
                :rules="passwordRules"
                v-model="form.password"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
            dark
            color="indigo darken-3"
            @click.native='submitForm'
            :loading = "loading"
            :disabled = "loading"
            >Login</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      valid: false,
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ],
      passwordRules: [
        v => !!v || 'Password is required',
        v => (v && v.length >= 6) || 'Password must be equal or more than 6 characters'
      ]
    }
  },
  computed: {
    loading () {
      return this.$store.getters.loading
    }
  },
  methods: {
    submitForm () {
      if (!this.$refs.form.validate()) {
        return
      }
      console.log(this.form)
      this.$store.dispatch('loginUser', this.form)
      .then(() => {
        this.$router.push('/')
        console.log('Вы Вошли в аккаунт')
      })
      .catch(() => {})
    }
  },
  created () {
    if (this.$route.query['logInErr']) {
      this.$store.dispatch('setError', 'Зарегистрируйтесь! Чтобы  получить доступ к этой странице')
    }
  }
}
</script>
